.comments-container-div {
  margin-left: 30px;
  height: 400px;

  .comments-display-div {
    height: 200px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid red;
  }
}
