.single-item-div {
  display: flex;
  flex-direction: column;
  font-size: 10px;

  .image-and-name-div {
    display: flex;
    align-items: center;

    .item-unlock-amount,
    .item-effect {
      font-size: 8.5px;
      color: red;
    }
  }

  h3 {
    margin: 4px;
  }
  p {
    margin: 4px;
    font-size: 8.5px;
  }

  .item-image {
    height: auto;
    width: 100px;
    margin-right: 10px;
  }
}
