@mixin step3v2($width, $color, $bgcolor) {
  box-shadow: $width 0 $bgcolor, -$width 0 $bgcolor, 0 (-$width) $bgcolor,
    0 $width $bgcolor, 2 * $width 0 $bgcolor, -2 * $width 0 $bgcolor,
    0 (-2 * $width) $bgcolor, 0 2 * $width $bgcolor, 0 0 0 $width $bgcolor,
    3 * $width 0 $color, -3 * $width 0 $color, 0 3 * $width $color,
    0 (-3 * $width) $color, 0 (-$width) 0 $width $color,
    0 $width 0 $width $color, $width 0 0 $width $color,
    -$width 0 0 $width $color;
  margin: 3 * $width auto;
}

$outline-width: 4px;
$shadow-width: 4px;

$button-background: #92cd41;
$sec-button-background: #76c442;
$shadow-color: #4aa52e;

.login-title,
.register-title {
  font-size: 1.5vw;
  margin-bottom: 3.5vh;
}

.login-and-register-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 94vh;

  .login-container {
    @include step3v2(4px, black, #780000);
    height: 70vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    background-color: orange;
    margin: 12vh 2vw 0 0;

    .login-input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .login-label {
      font-size: 0.8vw;
    }

    .login-input {
      width: 18vw;
      height: 2.5vh;
      margin-top: 1vh;
      margin-bottom: 1vh;
      border-radius: 5px;
    }

    .login-password-div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .login-password-input {
      width: 16.5vw;
      height: 2.5vh;
      margin-top: 1vh;
      margin-bottom: 1vh;
      border-radius: 5px;
    }

    .visibility-button {
      cursor: pointer;
      margin-left: 0.2vw;
    }
  }

  .register-container {
    @include step3v2(4px, black, #780000);
    height: 70vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    background-color: pink;
    margin: 12vh 0 0 2vw;

    .register-input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .register-input {
      width: 18vw;
      height: 2.5vh;
      margin-top: 1vh;
      margin-bottom: 1vh;
      border-radius: 5px;
    }

    .register-label {
      font-size: 0.8vw;
    }

    .register-password-div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .register-password-input {
      width: 16.5vw;
      height: 2.5vh;
      margin-top: 1vh;
      margin-bottom: 1vh;
      border-radius: 5px;
    }

    .visibility-button {
      cursor: pointer;
      margin-left: 0.2vw;
    }
  }

  button {
    background: $button-background;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    font-family: 'Press Start 2P', sans-serif;
    text-decoration: none;
    color: black;
    box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-color;
    height: 5vh;
    width: 18vw;
    margin-top: 5px;

    &:hover,
    &:focus {
      background: $sec-button-background;
      box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px
        $shadow-color;
      cursor: pointer;
    }

    &:active {
      box-shadow: inset $shadow-width $shadow-width 0px 0px $shadow-color;
    }

    &:disabled {
      background-color: grey;
      box-shadow: none;
      cursor: not-allowed;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: content-box;
    }

    &:before {
      top: -$outline-width;
      left: 0;
      border-top: $outline-width black solid;
      border-bottom: $outline-width black solid;
    }

    &:after {
      left: -$outline-width;
      top: 0;
      border-left: $outline-width black solid;
      border-right: $outline-width black solid;
    }
  }

  .login-button,
  .register-button {
    margin-top: 3vh;
  }
}
