@mixin step3v2($width, $color, $bgcolor) {
  box-shadow: $width 0 $bgcolor, -$width 0 $bgcolor, 0 (-$width) $bgcolor,
    0 $width $bgcolor, 2 * $width 0 $bgcolor, -2 * $width 0 $bgcolor,
    0 (-2 * $width) $bgcolor, 0 2 * $width $bgcolor, 0 0 0 $width $bgcolor,
    3 * $width 0 $color, -3 * $width 0 $color, 0 3 * $width $color,
    0 (-3 * $width) $color, 0 (-$width) 0 $width $color,
    0 $width 0 $width $color, $width 0 0 $width $color,
    -$width 0 0 $width $color;
  margin: 3 * $width auto;
}

.socials-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.socials-modal-content {
  background-color: lightyellow;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  @include step3v2(1vw, black, red);

  .socials-modal-title {
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .socials-icons-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5vh;
  }
}

@media only screen and (max-width: 420px) {
  .socials-modal-content {
    width: 80%;

    .socials-modal-title {
      font-size: 1.4em;
    }

    .socials-icons-container {
      width: 100%;
      flex-wrap: wrap;
    }
  }
}
